.stepsProcessPage {
  background: #212529;
  background-image: url("../../assets/images/generatebg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .centerLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
      .containloader {
        --uib-size: 225px;
        --uib-color: black;
        --uib-speed: .9s;
        --uib-stroke: 15px;
        --mask-size: calc(var(--uib-size) / 2 - var(--uib-stroke));
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: var(--uib-size);
        width: var(--uib-size);
        -webkit-mask: radial-gradient(
          circle var(--mask-size),
          transparent 99%,
          #000 100%
        );
        mask: radial-gradient(circle var(--mask-size), transparent 99%, #000 100%);
        background: conic-gradient(from 90deg at 50% 50%, rgba(39, 174, 96, 0) 0deg, rgba(117, 117, 251, 0) 0.04deg, #7575FB 360deg);
        animation: spin calc(var(--uib-speed)) linear infinite;
        border-radius: 50%;
      }
  }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
footer.footer,
header.header {
  display: none;
}
