@font-face { 
    font-family: 'PlusJakartaSans-ExtraBold';
    src: url('../fonts/PlusJakartaSans-ExtraBold.eot');
    src: url('../fonts/PlusJakartaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PlusJakartaSans-ExtraBold.woff') format('woff'),
         url('../fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype'),
         url('../fonts/PlusJakartaSans-ExtraBold.svg#PlusJakartaSans-ExtraBold') format('svg');
    font-weight: ExtraBold;
    font-style: normal;
}
@font-face { 
    font-family: 'PlusJakartaSans-Medium';
    src: url('../fonts/PlusJakartaSans-Medium.eot');
    src: url('../fonts/PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PlusJakartaSans-Medium.woff') format('woff'),
         url('../fonts/PlusJakartaSans-Medium.ttf') format('truetype'),
         url('../fonts/PlusJakartaSans-Medium.svg#PlusJakartaSans-Medium') format('svg');
    font-weight: Medium;
    font-style: normal;
}
@font-face { 
    font-family: 'PlusJakartaSans-Bold';
    src: url('../fonts/PlusJakartaSans-Bold.eot');
    src: url('../fonts/PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PlusJakartaSans-Bold.woff') format('woff'),
         url('../fonts/PlusJakartaSans-Bold.ttf') format('truetype'),
         url('../fonts/PlusJakartaSans-Bold.svg#PlusJakartaSans-Bold') format('svg');
    font-weight: Bold;
    font-style: normal;
}
@font-face { 
    font-family: 'PlusJakartaSans-SemiBold';
    src: url('../fonts/PlusJakartaSans-SemiBold.eot');
    src: url('../fonts/PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PlusJakartaSans-SemiBold.woff') format('woff'),
         url('../fonts/PlusJakartaSans-SemiBold.ttf') format('truetype'),
         url('../fonts/PlusJakartaSans-SemiBold.svg#PlusJakartaSans-SemiBold') format('svg');
    font-weight: SemiBold;
    font-style: normal;
}
@font-face { 
    font-family: 'PlusJakartaSans-Regular';
    src: url('../fonts/PlusJakartaSans-Regular.eot');
    src: url('../fonts/PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PlusJakartaSans-Regular.woff') format('woff'),
         url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype'),
         url('../fonts/PlusJakartaSans-Regular.svg#PlusJakartaSans-Regular') format('svg');
    font-weight: Regular;
    font-style: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BFCCDA !important;
    opacity: 1 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #BFCCDA !important;
    opacity: 1 !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #BFCCDA !important;
    opacity: 1 !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #BFCCDA !important;
    opacity: 1 !important;
  }
  .btnprimary {
    background-image: linear-gradient(to right top, #c74ec7, #b958d6, #a762e4, #916cf0, #7575fb);
    border: 1px solid #916cf0;
    color: #fff;
    text-decoration: none;
    &:hover, &:focus, &:active, &:visited, :not(.btn-check)+.btn:active {
        border: 1px solid #916cf0 !important;
        background: transparent !important;
        background-color: transparent !important;
        color: #916cf0;
    }
  }
  .btn-btnSecondary {
    border-color: #916cf0;
    color: #916cf0;
    background-color: transparent;
    &:hover, &:focus, &:active, &:visited, :not(.btn-check)+.btn:active {
        background-image: linear-gradient(to right top, #c74ec7, #b958d6, #a762e4, #916cf0, #7575fb);
        color: #fff !important;
        border-color: #916cf0;
    }
  }
  .form-check-input {
    &:checked {
        background-color: #916cf0;
        border-color: #916cf0;
    }
}
  a, button {
    transition: 0.3s all ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  
  .error {
    color: #E8583C;
    font-size: 14px;
  }

  .url-bar {
    padding: 30px 20px 30px 20px;
    button.refreshBtn {
        background: transparent;
        border: none;
    }
    input.form-control {
        height: 58px;
        border-radius: 12px;
        border: 1px solid #BFBFBF;
        box-shadow: none;
        margin-left: 10px;
    }
}

.site_info_outer {
  width: 100%;
  // margin: 10px auto;
  .site_info {
      background: #fff;
      border-radius: 12px;

  .site_info_inner {
      padding: 20px;
      border-bottom: 1px solid #E5E7EB;
      &:last-child {
          border-bottom: none;
      }
      .site_text {
      h4 {
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: #000;
          a.previewBtn {
              color: #77B5F7;
              margin-left: 10px;
          }
      }
      p {
          color: rgba(0, 0, 0, 0.49);
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
      }
      }
      button.chatBtn {
      background: transparent;
      border: none;
      padding: 0;
      }
  }
  }
  .search_options {
      margin-top: 20px;
      .innersearch {
          position: relative;
          input.form-control {
              height: 54px;
              border-radius: 12px;
              padding-left: 50px;
              &:focus {
                  border-color: #916cf0;
                  box-shadow: none;
              }
          }
          button {
              position: absolute;
              top: 0;
              border: none;
              background: transparent;
              bottom: 0;
              padding: 8px 15px;
          }
      }
      .btnsWrapper {
          margin-top: 20px;
          button {
              border-radius: 8px;
              img {
                  margin-right: 10px;
              }
          }
      }
      ul.side_links {
          padding: 0;
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          flex-wrap: wrap;
          li {
              margin: 5px 0;
              a, button {
                  font-size: 14px;
                  line-height: 18px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #fff;
                  text-decoration: none;
                  font-family: 'PlusJakartaSans-Regular';
                  background: transparent;
                  border: none;
                  img {
                      margin-right: 10px;
                  }
              }
          }
      }
      
      
  }
}