.builsteponeModal {
    .modal-dialog {
        .modal-content {
            background-image: url('../../assets/images/popupBg.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            padding: 60px 25px 50px;
            .modal-header {
                justify-content: center;
                border-bottom: none;
                padding-bottom: 5px;
                .builsteponeWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 50px;
                    strong {
                        background: #fff;
                        display: flex;
                        width: 120px;
                        height: 120px;
                        border-radius: 100px;
                        align-items: center;
                        justify-content: center;
                        // box-shadow: 0px 24px 32px 0px #32324714;
                        box-shadow: 0px 16px 16px 0px #32324714;
                    }
                }
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #000;
                    font-family: 'PlusJakartaSans-Medium';
                    margin-bottom: 0;
                }
            }
            .modal-body {
                .siteTemplate {
                    position: relative;
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                    }
                    .name_radioBtn {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        background: #020303;
                        border-radius: 0 0 10px 10px;
                        padding: 4px 10px;
                        h4 {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #fff;
                            margin-bottom: 0;
                        }
                    }
                }
                input.form-control {
                    border: 1px solid #E5E7EB;
                    border-radius: 12px;
                    height: 54px;
                    font-size: 17px;
                    padding-left: 50px;
                    &:focus {
                        box-shadow: none;
                    }
                }
                button.searchBtn {
                    background: transparent;
                    border: none;
                    position: absolute;
                    top: 0;
                    padding: 15px;
                }
                .signin_btn {
                    height: 54px;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    color: #fff;
                    img {
                        margin-left: 15px;
                    }
                    &:hover {
                        // opacity: 1;
                        background-image: linear-gradient(to right top, #c74ec7, #b958d6, #a762e4, #916cf0, #7575fb) !important;
                        border-color: #916cf0 !important;
                        color: #fff !important;
                    }
                }
                button.expand {
                    border: none;
                    background: transparent;
                }
                .templateSearch {
                    max-width: 420px;
                    margin: auto;
                }
                .expandTemplate.inactive  {
                    height: 200px;
                    overflow: hidden;
                }
                .expandTemplate.active  {
                    height: auto;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .builsteponeModal {
        .modal-dialog {
            max-width: 700px;
        }
    }
}