header.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid rgba(217, 217, 217, 0.10);
    nav.navbar {
        background: transparent !important;
    
        .navbar-collapse {
            background-color: transparent;
        }
            button.navbar-toggler.collapsed {
                span.navbar-toggler-icon {
                    background-image: url('../../assets/images/MenuIcon.svg');
                    width: 38px;
                    height: 26px;
                    background-size: 38px 26px;
                }
            }
            button.navbar-toggler {
                span.navbar-toggler-icon {
                    background-image: url('../../assets/images/MenuCrossicon.svg');
                    width: 20px;
                    height: 20px;
                    background-size: 20px 20px;
                }
            }
        
        .navbar-nav {
            a.nav-link {
                color: #fff;
                font-family: 'PlusJakartaSans-SemiBold';
                font-size: 15px;
                margin: 0 30px;
            }
            .dropdown-toggle {
                &::after {
                    background-image: url('../../assets/images/angleBottom.svg');
                    width: 15px;
                    height: 15px;
                    background-size: 15px 18px;
                    border: none;
                    position: absolute;
                    top: 12px
                }
            }
        }
    }
    .btns_wrap {
        padding-left: 30px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 2px;
            height: 20px;
            background: #fff;
            top: 8px;
        }
        .btn-btnSecondary {
            border-color: #916cf0;
            color: #916cf0;
            font-size: 15px;
            border-radius: 8px;
            font-family: 'PlusJakartaSans-SemiBold';
        }
        button.btnprimary.btn.btn-primary {
            margin-left: 12px;
            border-radius: 8px;
        }
    }
}


/* Media Query start */


@media only screen and (max-width: 991px) {
    header.header {
        nav.navbar {
            .navbar-collapse {
                background-color: #fff;
                position: absolute;
                top: 70px;
                left: 0;
                right: 0;
                .navbar-nav {
                    padding: 40px 0 0 22px;
                    a.nav-link {
                        color: #000;
                        font-size: 16px;
                    }
                    .dropdown-toggle {
                        &::after {
                            background-image: url('../../assets/images/angleBlackBottom.svg');
                        }
                    }
                }
            }
        }
        .btns_wrap {
            padding-left: 40px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding-bottom: 40px;
            &::before {
                display: none;
            }
            button.btnprimary.btn.btn-primary {
                margin-left: 0px;
            }
        }
        .navbar-nav {
            .dropdown-menu.show {
                width: calc(100% - 20px);
                a.dropdown-item {
                    &:hover {
                        background-image: linear-gradient(to right top, #c74ec7, #b958d6, #a762e4, #916cf0, #7575fb);
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    header.header {
        a.navbar-brand {
            img {
                max-width: 178px;
            }
        }
    }
}